# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MandelbrotExplorer.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Repositories\Unity\MandelbrotExplorer\.idea\.idea.MandelbrotExplorer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
